# Python
venv/
__pycache__/
*.pyc

# Robot results
results/

# IDE
.vscode/
.idea/

# OS / Desktop noise
*.lnk
*.exe
*.pdf
*.jpg
*.png
*.pptx
*.zip
node_modules/
desktop.ini

# Ignore everything by default
*

# Allow project folders
!demo_app/
!demo_app/**

!resources/
!resources/**

!tests/
!tests/**

# Allow root files
!requirements.txt
!.gitignore

# Allow GitHub Actions
!.github/
!.github/**
