name: Robot Framework CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

           - name: Start demo app
        run: |
          cd demo_app
          nohup python -m http.server 8000 &
          sleep 10


      - name: Show test directory structure
        run: |
          ls -la
          ls -la tests
          ls -la tests/student_management

      - name: Run Robot Framework tests
        run: |
          robot \
            --outputdir results \
            tests/student_management

      - name: Upload Robot Framework results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: results
